.body{ 
    height: 100vh;
    width: 100vw;
}


.main-body, .grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 30px;
  
}

.grid-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
} 

.grid-point{
    border: 1px;
    border-style: solid;
    min-width: 5px;
    min-height: 30px;
    width: calc(6.25% - 2px);
}
